$white: #fff;
$black: #000;

$primary-color: #4169e1;
$primary-shade-1: #3b5fcb;
$primary-shade-2: #3454b4;
$primary-shade-3: #2e4a9e;
$primary-shade-4: #273f87;
$primary-shade-5: #213571;
$primary-shade-6: #1a2a5a;
$primary-shade-7: #131f43;
$primary-shade-8: #0d152d;

$primary-tint-1: #4169e1;
$primary-tint-2: #5478e4;
$primary-tint-3: #6787e7;
$primary-tint-4: #7a96ea;
$primary-tint-5: #8da5ed;
$primary-tint-6: #a0b4f0;
$primary-tint-7: #b3c3f3;
$primary-tint-8: #c6d2f6;
$primary-tint-9: #ecf0fc;

$secondary-color: #fcca2f;
$secondary-shade-1: #e3b62a;
$secondary-shade-2: #caa226;
$secondary-shade-3: #b08d21;
$secondary-shade-4: #97791c;
$secondary-shade-5: #7e6518;

$secondary-tint-1: #fcca2f;
$secondary-tint-2: #fccf44;
$secondary-tint-3: #fdd559;
$secondary-tint-4: #fdda6d;
$secondary-tint-5: #fddf82;
$secondary-tint-6: #fee597;
$secondary-tint-7: #feeaac;
$secondary-tint-8: #feefc1;

$black-tint-1: #111;
$black-tint-2: #222;
$black-tint-3: #333;
$black-tint-4: #444;
$black-tint-5: #555;
$black-tint-6: #666;

$grey1-50: #fdfefe;
$grey1-100: #fafcfb;
$grey1-200: #f7faf9;
$grey1-300: #f4f8f7;
$grey1-400: #f1f6f5;
$grey1-500: #eef4f3;
$grey1-600: #d9dedd;
$grey1-700: #a9adad;
$grey1-800: #838686;
$grey1-900: #646666;

$grey2-50: #f5f6f6;
$grey2-100: #dfe4e3;
$grey2-200: #d0d7d6;
$grey2-300: #bbc4c3;
$grey2-400: #adb9b7;
$grey2-500: #99a7a5;
$grey2-600: #99a7a5;
$grey2-700: #6d7775;
$grey2-800: #545c5b;
$grey2-900: #404645;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-mid-bold: 600;
$font-weight-bolder: 700;

$google-color: #4285f4;
$error-color: #ff0000;
