.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 600;
  letter-spacing: -0.1rem;
  margin-bottom: 3.2rem;
  line-height: 1.15;
}
.heading-primary {
  font-size: 4.4rem;
  color: $white;
}
.heading-secondary {
  font-size: 3.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.landing-content {
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-image: linear-gradient(
      to bottom right,
      rgba($primary-color, 0.85),
      rgba($secondary-color, 0.85)
    ),
    url(../../assets/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
}
.landing-heading {
  text-align: center;
}
.landing-text {
  width: 50%;
}
.landing-para {
  color: $white;
  text-align: center;
}
.btn--big {
  padding: 1.5rem 4rem;
}
.btn--hero {
  background-color: $grey1-100;
  color: $grey1-900 !important;

  &:hover {
    background-color: $white;
    color: $black-tint-3;
    transform: scale(1.05);
  }
}
.why-us {
  text-align: center;
  font-size: 3rem;
  position: relative;
  color: $primary-color;
}
.why-us::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  width: 15%;
  height: 20%;
  border-radius: 100px;
  background-color: rgba($secondary-color, 0.7);
}
// Cta-section

.cta-section {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  padding: 1rem 10rem;
  box-shadow: 0 1rem 2rem rgba($black, 0.15);
  border-radius: 1.5rem;
  margin: 4.8rem;
}
.para-md {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.cta-action {
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: center;
}
.cta-signup,
.cta-login {
  padding: 1.6rem 3.2rem;
  font-family: inherit;
  font-size: 1.8rem;
  transition: all 0.35s;
}
.cta-signup {
  background-color: $black-tint-6;
  color: $white;
  text-align: center;
}
.cta-signup:hover {
  background-color: $black-tint-5;
  color: $white;
}
.cta-login {
  background-color: $white;
}
.cta-login:hover {
  background-color: $grey1-300;
  color: $black;
}
.cta-para {
  font-size: 1.8rem;
}
.cta-or {
  font-size: 2.2rem;
  font-weight: 700;
  margin-right: 2rem;
  display: inline-block;
}

@media (max-width: 59em) {
  .landing-content {
    width: 80% !important;
    max-width: 80% !important;
  }
}
@media (max-width: 34em) {
  .content-container {
    width: 95% !important;
    max-width: 95% !important;
  }
}
